@charset "utf=8";
@use '../foundation/mixin' as mix;
@use "../foundation/variable" as var;


// footer
#footer {
    color: var.$w-color;
    background: var.$main-color;
    text-align: center;

    .footer {

        &__inner {
            padding: 40px;
        }

        &__title {
            padding-bottom: 10px;
        }

        &__copyright {
            margin: auto;
            padding-top: 10px;
        }
    }
}

#page-top {
    position: fixed;
    right: 20px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 51px;
        /* width*√3/2 */
        clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        background: #ccc;
        border-radius: 5px;
        color: #fff;
        text-align: center;
        // text-transform: uppercase;
        text-decoration: none;
        font-size: 0.6rem;
        transition: all 0.3s;
        transform: rotate(90deg);
    }

    & span {
        transform: rotate(-90deg);
    }

    & a:hover {
        background: #777;
    }

    /*リンクを右下に固定*/


    /*　上に上がる動き　*/

    &.UpMove {
        animation: UpAnime 0.5s forwards;
    }

    @keyframes UpAnime {
        from {
            opacity: 0;
            transform: translateY(100px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /*　下に下がる動き　*/

    &.DownMove {
        animation: DownAnime 0.5s forwards;
    }

    @keyframes DownAnime {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 1;
            transform: translateY(100px);
        }
    }
}
