@charset "utf=8";
@use "../foundation/mixin" as mix;
@use "../foundation/variable" as var;


// //変数//
// $main-color: #333;
// $w-color: #fff;
// $main-font: 1.6vw;
// $main-title-font: 25px;
// $page-title-font: 2vw;

body,
html {
    height: 100%;
    margin: 0 auto;
}

.main-visual {
    padding: 20px;

    &__inner {
        position: relative;
        height: 600px;
    }

    &__bg {
        width: 45rem;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        mix-blend-mode: multiply;

        @include mix.mq(bg) {
            width: 42rem;

        }

        @include mix.mq(tab) {
            width: 40rem;

        }

        @include mix.mq(sp) {
            width: 32rem;
            top: 45%;

        }

        @include mix.mq(min) {
            width: 28rem;
            top: 50%;

        }
    }


    &__img {
        width: 35%;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        top: 6%;
        left: 36%;

        @include mix.mq(bg) {
            width: 40%;
            left: 32%;

        }

        @include mix.mq(pc) {
            left: 32%;
            top: 10%;

        }

        @include mix.mq(tab) {
            width: 60%;
            left: 24%;
        }

        @include mix.mq(sp) {
            width: 75%;
            left: 19%;
            top: 14%;
        }

        @include mix.mq(min) {
            width: 80%;
            left: 13%;
        }
    }

    &__circle {
        animation: 3s linear infinite rotation;
        position: absolute;
        right: 14%;
        bottom: 5%;

        @include mix.mq(pc) {
            bottom: 30%;
        }

        @include mix.mq(tab) {
            bottom: 17%;
        }


        @include mix.mq(sp) {
            right: 27%;
        }

        @include mix.mq(min) {
            right: 90px;
        }

        &-text {
            position: relative;
            width: 0;
            /* 直径 */
            height: 0;
            /* 直径 */
            font-size: 30px;
            text-align: center;
            margin: 0;
            transform: rotate(0deg);

            @include mix.mq(pc) {
                font-size: 25px;
            }

            @include mix.mq(tab) {
                font-size: 20px;
            }

            @include mix.mq(sp) {
                font-size: 15px;
            }


            /* 円の回転 */
            & span {
                position: absolute;
                height: 110px;

                bottom: 0;
                display: inline-block;
                /* 半径 */
                transform-origin: center bottom;

                /* 回転の基準点 */
                /*  border: solid 1px; */
                @include mix.mq(pc) {
                    height: 90px;
                }

                @include mix.mq(tab) {
                    height: 80px;
                }

                @include mix.mq(min) {
                    height: 70px;
                }
            }

            span:nth-child(1) {
                transform: rotate(0deg);
            }

            span:nth-child(2) {
                transform: rotate(30deg);
            }

            span:nth-child(3) {
                transform: rotate(60deg);
            }

            span:nth-child(4) {
                transform: rotate(90deg);
            }

            span:nth-child(5) {
                transform: rotate(120deg);
            }

            span:nth-child(6) {
                transform: rotate(150deg);
            }

            span:nth-child(7) {
                transform: rotate(180deg);
            }

            span:nth-child(8) {
                transform: rotate(210deg);
            }

            span:nth-child(9) {
                transform: rotate(240deg);
            }

            span:nth-child(10) {
                transform: rotate(270deg);
            }

            span:nth-child(11) {
                transform: rotate(300deg);
            }

            span:nth-child(12) {
                transform: rotate(330deg);
            }

        }
    }
}

.scrolldown2 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    // top: 48rem;
    left: 50%;

    @include mix.mq(pc) {
        // top: 44rem;
    }

    @include mix.mq(tab) {
        // top: 42rem;
    }

    @include mix.mq(sp) {
        // top: 38rem;
    }

    & span {
        position: absolute;
        left: 10px;
        bottom: 10px;
        /*テキストの形状*/
        color: #000;
        font-size: 0.7rem;
        letter-spacing: 0.05em;
        /*縦書き設定*/
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }

    &::before {
        content: "";
        /*描画位置*/
        position: absolute;
        bottom: 0;
        left: -4px;
        /*丸の形状*/
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #000;
        /*丸の動き1.6秒かけて透過し、永遠にループ*/
        animation:
            circlemove 1.6s ease-in-out infinite,
            cirlemovehide 1.6s ease-out infinite;
    }

    @keyframes circlemove {
        0% {
            bottom: 45px;
        }

        100% {
            bottom: -5px;
        }
    }

    /*上から下にかけて丸が透過→不透明→透過する*/
    @keyframes cirlemovehide {
        0% {
            opacity: 0
        }

        50% {
            opacity: 1;
        }

        80% {
            opacity: 0.9;
        }

        100% {
            opacity: 0;
        }
    }

    &::after {
        content: "";
        /*描画位置*/
        position: absolute;
        bottom: 0;
        left: 0;
        /*線の形状*/
        width: 2px;
        height: 50px;
        background: #000;
    }
}


.work {
    &__ly {
        margin-top: 20%;

    }

    &__inner {
        max-width: 1500px;
        height: auto;
        margin: 10% auto;
        position: relative;
        text-align: center;
    }

    &__title {

        display: inline-block;
        margin: 0 auto 10%;
    }

}

.heading11 {
    position: relative;
    font-size: 26px;
    text-align: center;


    &::before {
        content: attr(data-number);
        display: block;
        margin-bottom: 50px;
        color: var.$main-color;
        font-size: 30px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 20px;
        background-color: var.$main-color;
    }
}

.wrap {
    position: relative;
    height: 100vh;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    transform: scale(0.5);

    &:hover {

        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
        transform: scale(0.9);
    }
}

.item04,
.item05,
.item06 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.item04 {

    @include mix.mq(su) {
        position: absolute;
        top: -50%;
    }

    @include mix.mq(min) {
        width: 100vw;
    }

}

.item05 {

    @include mix.mq(su) {
        position: absolute;
        top: 0%;
    }

    @include mix.mq(min) {
        width: 100vw;
    }
}

.item06 {

    @include mix.mq(su) {
        position: absolute;
        top: 50%;
    }

    @include mix.mq(min) {
        width: 100vw;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;

    &__bg {
        position: absolute;
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: scroll;
        /* はみ出た部分はスクロールさせる */
        height: 60%;
        /* これが無いと「overflow:scroll」が利かない */
        width: 60%;
        /* これが無いと「overflow:scroll」が利かない */
        background: white;
        padding: 40px;

        @include mix.mq(tab) {
            width: 70%;
            height: 70%;
        }

        @include mix.mq(sd) {
            width: 80%;
            height: 80%;
            padding: 20px;
        }
    }

    &__title {
        font-size: 3rem;
        text-align: center;
        padding-bottom: 5%;

        @include mix.mq(sd) {
            font-size: 2rem;
        }
    }

    &__sub-title {
        font-size: 2rem;
        text-align: initial;
        padding: 4% 2%;
        border-bottom: 1px solid #000;

        @include mix.mq(tab) {
            font-size: var.$main-font-size;
            padding: 6% 2%;
        }

        @include mix.mq(sd) {
            font-size: var.$sub-font-size;

        }
    }

    &__text {
        text-align: initial;
        line-height: 2;
        padding: 0 2%;
        font-size: var.$main-font-size;


        @include mix.mq(sd) {
            font-size: var.$sub-font-size;
        }
    }

    &__info {
        padding: 2%;
    }

    &__ly {
        padding-bottom: 5%;

        @include mix.mq(sd) {
            padding-bottom: 10%;
        }
    }

    &__img {
        width: 50%;
        border: 1px solid;
        margin: 5% 0;

        @include mix.mq(tab) {
            width: 70%;
        }

    }

    &__btn {
        width: 15%;
        font-size: 1.2vw;

        @include mix.mq(tab) {
            width: 21%;
        }

        @include mix.mq(min) {
            width: 30%;
        }
    }

    &__link {
        font-size: 1.2vw;
        width: 160px;
        height: 50px;
        border-width: 1px;
        color: #fff;
        border-color: #282926;
        text-shadow: 1px 1px 0px #282926;
        background: #282926;

        @include mix.mq(tab) {
            font-size: var.$main-font-size;
        }

        @include mix.mq(sd) {
            font-size: var.$sub-font-size;
        }

        &:hover {
            background: #777
        }
    }

}

.js-modal-close {
    display: block;
    padding: 3%;
    border: 1px solid;
    margin: 0 auto;
}

span.modal__content1 {
    list-style: none;
    font-size: 1.2vw;
    float: left;
    border-bottom: 1px solid #000;

    @include mix.mq(tab) {
        font-size: var.$main-font-size;
    }

    @include mix.mq(sd) {
        font-size: var.$sub-font-size;
    }

}

span.modal__content2 {
    display: block;
    margin-left: 110px;
    font-size: 1.2vw;
    text-align: initial;

    @include mix.mq(tab) {
        font-size: var.$main-font-size;
    }

    @include mix.mq(sd) {
        font-size: var.$sub-font-size;
    }

    @include mix.mq(min) {
        margin-left: 80px;
    }

}

.eachTextAnime span {
    opacity: 0;
}

.eachTextAnime.appeartext {
    text-align: center;
    font-size: var.$page-title-font;
    color: #333;

    @include mix.mq(tab) {
        font-size: 5vw;
    }

    @include mix.mq(sp) {
        font-size: 7vw;
    }
}

.eachTextAnime.appeartext span {
    animation: text_anime_on 2s ease-in forwards;

}

@keyframes text_anime_on {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// skill
.skill {
    &__ly {
        margin: 10% 0 15%;
    }

    &__inner {
        padding: 0 10%;

        @include mix.mq(tab) {
            padding: 0 20%;
        }

        @include mix.mq(sp) {
            padding: 0 18%;
        }
    }

    &__title {
        margin-bottom: 5%;
    }

    &__img {
        mix-blend-mode: multiply;
    }

    &__img1 {
        @include mix.mq(tab) {
            width: 80px;
            height: auto;
            margin: 15% 0;
        }

        @include mix.mq(sp) {
            width: 0px;
            height: auto;
            margin: 10% 0;
        }

    }

    &__grid {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
        margin-top: 5%;

        @include mix.mq(tab) {
            display: block;
        }


        &--title {
            font-size: 1.4vw;
            padding: 5% 0 10%;

            @include mix.mq(tab) {
                padding: 5% 0;
                font-size: 3vw;
            }
        }

        &-f {
            border: 1px solid #000;
            border-radius: 30px;
            text-align: center;

            @include mix.mq(tab) {
                margin-bottom: 15%;
            }
        }

        &--text {
            text-align: left;
            line-height: initial;
            font-size: 2rem;
            padding: 7% 3% 0;

            @include mix.mq(bg) {
                font-size: 1.8rem;
            }

            @include mix.mq(tab) {
                padding: 7% 15% 0;
                font-size: 3vw;
            }

            &-small {
                font-size: var.$sub-font-size;
                padding: 5%;

                @include mix.mq(tab) {
                    font-size: 1.8vw;
                }

                @include mix.mq(sp) {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

// about
.about {
    &__ly {
        margin: 10% 0 20%;
    }

    &__inner {
        margin: 2% 9%;
    }

    &__img {
        width: 500px;
        height: auto;
    }

    &__box {
        display: flex;
        justify-content: center;
        padding-top: 10%;
        gap: 2%;

        @include mix.mq(tab) {
            display: block;
        }



        &-r {
            width: 50%;
            text-align: end;

            @include mix.mq(tab) {
                margin: 0 auto;
            }
        }


        &-l {
            width: 50%;
            height: auto;
            background-color: #fff;
            padding: 2%;
            

            @include mix.mq(tab) {
                width: 80%;
                margin: 5% auto;
            }

            @include mix.mq(sp) {
                width: 90%;
                margin: 10% auto 5%;
                text-align: center;
            }
        }

        &-title {
            margin: 0 0 20px 0;
            font-size: 30px;

            @include mix.mq(sp) {
                font-size: 2.5rem;
            }
        }

        &-subtitle {
            margin: 0 0 20px 0;
            font-size: 2.5rem;

            @include mix.mq(sp) {
                font-size: 2.0rem;
            }
        }

        &-text {
            margin: 0 0 20px 0;
            font-size: 2.0rem;
            line-height: 2;

            @include mix.mq(su) {
                font-size: var.$main-font-size;
            }

            @include mix.mq(sp) {
                font-size: var.$sub-font-size;
            }
        }
    }
}

.animate {
    opacity: 0;
    transform: translateY(10px);
    transition: all 1.0s;

    &.show {
        opacity: 1;
        transform: translateY(0);

        &:nth-of-type(1) {
            transition-delay: 0.5s;
        }

        &:nth-of-type(2) {
            transition-delay: 0.5s;
        }
    }
}

// contact
.contact {
    &__inner {
        margin: 10% auto;
        padding: 0 10% 0;
        width: 90%;
        max-width: 1200px;

        @include mix.mq(sp) {
            padding: 0 2% 0;
        }
    }

    &__title {
        margin-bottom: 10%;
        text-align: center;

    }
}

// Form
form {

    .field {
        width: 100%;
        position: relative;
        margin-bottom: 10%;
        
        @include mix.mq(sp) {
            margin-bottom: 20%;
        }

        // Label
        label {

            position: absolute;
            top: 0;
            left: 0;
            background: var.$main-color;
            color: var.$w-color;
            width: 100%;
            padding: (var.$label-padding + 0px) 0;
            padding-left: 5%;
            font-size: var.$main-font-size;
            transition: 0.3s;

            @include mix.mq(tab) {

                padding: 18px 0 18px 5%;
            }


            @include mix.mq(sp) {

                padding: 20px 0 20px 4%;
            }

            @include mix.mq(min) {
                padding: 20px 0 20px 2%;

            }

            // Checkmark
            +span {
                opacity: 0;
                color: var.$w-color;
                display: block;
                position: absolute;
                top: 12px;
                left: 7%;
                font-size: 2.5em;
                text-shadow: 1px 2px 0 var.$dark-orange;
                transition: 0.3s;
            }
        }

        // Fields
        input[type="text"],
        textarea {
            border: none;
            width: 100%;
            margin: 0;
            padding: var.$label-padding 0;
            padding-left: var.$hover-label-width + var.$placeholder-bumper;
            color: var.$main-color;
            font-size: var.$main-font-size;
            letter-spacing: 0.05em;
            background-color: rgba(204, 204, 204, 0.6);

            _::-webkit-full-page-media,
            _:future,
            :root & {
                padding: 16px 0;
                padding-left: 19.5%;
            }

            @include mix.mq(tab) {
                font-size: var.$main-font-size;

            }

            @include mix.mq(sp) {
                padding: 19px 0;
                padding-left: 19.5%;


            }

            &#msg {
                height: 55px;
                resize: none;
                transition: 0.3s;

                @include mix.mq(pc) {
                    height: 57px;
                }

                @include mix.mq(su) {
                    height: 55px;
                }

                @include mix.mq(su) {
                    height: 51px;
                }

                @include mix.mq(sp) {
                    height: 59px;

                }
            }

            &:focus,
            &.focused {
                outline: none;

                &#msg {
                    padding-bottom: 150px;
                }

                +label {
                    width: var.$hover-label-width;
                    background: var.$orange;
                    color: var.$main-color;
                }
            }

            // JS Toggle Class
            &.focused {
                +label {
                    color: var.$orange;

                }
            }
        }

        // Field Hover
        &:hover {
            label {
                font-size: var.$main-font-size;
                width: var.$hover-label-width;
                background: var.$main-color;
                color: var.$w-color;
                margin: 0 auto;
            }
        }
    }

    input[type="submit"] {
        background: var.$orange;
        color: var.$w-color;
        border: none;

        position: relative;
        padding: 13px 50px;
        font-size: var.$main-font-size;
        letter-spacing: 0.1em;
        transition: 0.3s;
        display: flex;
        margin: 10% auto;
        background: var.$main-color;

        @include mix.mq(sp) {
            margin-top: 15px;
            font-size: var.$main-font-size;
        }


        &:hover {
            background: var.$main-color;
            color: var.$orange;
        }

        &:focus {
            outline: none;
            background: var.$dark-orange;
        }
    }
}